$primary1: #f1f8fd;
$primary2: #dfeffa;
$primary3: #c6e4f7;
$primary4: #9ed4f2;
$primary5: #71bbe9;
$primary6: #4f9fe2;
$primary7: #468cd8;
$primary8: #3170c4;
$primary9: #2e5b9f;
$primary10: #2a4e7e;
